.modal{
    text-align: center;
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    border: 1px solid #7bdff2;
    boxShadow: 10px;
    background-color: #eff7f6;
}

.modal img{
    height: 300px;
    width: 500px;
}

.modal p{
    line-height: 1.5rem;
}

.modal .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
    }

    .modal img {
        width: 100%;
        height: auto;
    }

    .modal p {
        font-size: 18px;
    }
}