.list{
    height: 100%;
    display: inline-flex;
}
.Projects{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Projects span{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.Projects li{
    background-color: #eff7f6;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: white ;
}

.ProjectsCard{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}


@media (max-width: 768px) {
    .Projects span {
        font-size: 30px;
    }

    .list {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .Projects li {
      color:#eff7f6;
    }

}