.card{
    width: 600px;
    height: 200px;
    margin-bottom: 40px;
    font-size: 22px;
    padding: 20px;
    line-height:4.5vh;
}
.About{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.About h2 span{
    font-size: 35px;
    color: #7bdff2;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
        font-size: 18px;
        padding: 10px;
        line-height: 2.5vh;
    }

    .About h2 span {
        font-size: 25px;
    }
}