.Contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    gap: 5px;
}

.Contact a{
    text-align: center;
    background-color: white;
    padding-top: 5px;
    margin:10px;
    border-radius: 20px;
    width: 40px;
}
.Icons{
    display: flex;
}
