.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #f3faf9;
}

.Header span{
    text-align: center;
    font-size: 35px;
    margin: 10px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    background-color: #f2b5d4;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
}

li:hover{
    box-shadow: 10px 10px 5px #f7d6e0;
}